@import './base.css';

#app {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

main {
  background: rgb(39, 39, 39);
  padding: 1rem 2rem;
  margin: 0% auto;
  border-radius: 20px;
}

.montserrat-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 80px;
  font-style: normal;
}

.montserrat-header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 40px;
  line-height: normal;
  font-style: normal;
}

.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.montserrat-caption {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;

}

